body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

ul li {
    color: navy;
}


ol li {
    font-size: 1.2em;
}