body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.product-card {
    width: 250px;
    padding: 20px;
    border: 2px solid #000;
    margin: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}