table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}