* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
}

.main-menu {
    display: flex;
    list-style: none;
}

.main-menu > li {
    position: relative;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}

.main-menu > li:hover {
    background-color: #575757;
}

.dropdown,
.sub-dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.main-menu > li:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    top: 100%;
    left: 0;
}

.dropdown > li {
    position: relative;
    padding: 10px 15px;
    color: white;
}

.dropdown > li:hover {
    background-color: #575757;
}

.dropdown > li:hover > .sub-dropdown {
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 100%;
}

.sub-dropdown {
    min-width: 180px;
}